* {
  box-sizing: border-box;
}
body {
  background-color: rgb(244, 244, 244);
  color: rgb(65, 75, 60);
  font-family: 'Bitter', serif;
}
.container {
  border: 1px solid rgb(210, 210, 210);
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  margin: 8px;
  padding: 8px;
  background-color: white;
}
.app-friends {
  border-color: rgb(145, 0, 0);
}
.friend-friends {
  border-color: rgb(0, 145, 0);
  margin-top: 32px;
  background-color: rgb(241, 253, 255);
}
.list-friends {
  border-color: rgb(0, 145, 145);
}
.list-pets-friends {
  border-color: rgb(0, 0, 145);
}
.pet-friends {
  border-color: rgb(145, 145, 0);
}
.search-friends {
  border-color: rgb(145, 0, 145);
}
.friend-info {
  display: flex;
  justify-content: space-between;
}
